.up {
    height: 20px;
    width: 20px;
    color: #07c407;
}

.down {
    height: 20px;
    width: 20px;
    color: #ff0000;
}

#button {
    font-size: 24px;
    margin-top: 50px;
    height: 60px;
    width: 260px;
    background-color: #689838;
    color: #fff;
    border: 1px solid #003600;
}

#button:hover {
    background-color: #fff;
    color: #689838;
    cursor: pointer;
}